@keyframes m_anim {
  0%{
    right: -100%;
    opacity: 0;
  }
  10%{
    right: 0%;
    opacity: 1;
  }
  20%{
    right: 0%;
  }
  30%{
    right: 0%;
  }
  40%{
    right: 0%;
  }
  50%{
    right: 0%;
  }
  100%{
    right: 0%;
  }
}
.m{
  animation-name: m_anim;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}